@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hello ! </h1>
    <hr/>
    <p>Learn about <a href="https://aws.amazon.com/cloudwatch/">Observability on AWS</a>.</p>
</div>