@{
    ViewData["Title"] = "Products";
}


<div>
    <h1>Products list</h1>
    <ul>
        <li>
            Diamond
        </li>
        <li>
            Ruby
        </li>
        <li>
            Crystal
        </li>
    </ul>
</div>
